@model Product
@{
    ViewData["Title"] = Model.Title;
}

        <main class="main">
            <div class="container">
                <nav aria-label="breadcrumb" class="breadcrumb-nav">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="demo4.html"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Products</a></li>
                    </ol>
                </nav>

                <div class="product-single-container product-single-default">
                    <div class="cart-message d-none">
                        <strong class="single-cart-notice">“@Model.Title”</strong>
                        <span>has been added to your cart.</span>
                    </div>

                    <div class="row">
                        <div class="col-lg-5 col-md-6 product-single-gallery">
                            <div class="product-slider-container">
                                <div class="label-group">
                                    @* <div class="product-label label-hot">HOT</div> *@

                                    @* <div class="product-label label-sale">
                                        -16%
                                    </div> *@
                                </div>

                                <div class="product-single-carousel owl-carousel owl-theme show-nav-hover">
                                    <div class="product-item">
                                        <img class="product-single-image" src="~/assets/images/products/zoom/@Model.MainImage" data-zoom-image="assets/images/products/zoom/product-1-big.jpg" width="468" height="468" alt="product" />
                                    </div>
                                    @if (Model.Image1 == null)
                                    {
                                        <div class="product-item d-none">
                                            <img class="product-single-image" src="~/assets/images/products/zoom/@Model.Image1" data-zoom-image="assets/images/products/zoom/product-2-big.jpg" width="468" height="468" alt="product" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product-item">
                                            <img class="product-single-image" src="~/assets/images/products/zoom/@Model.Image1" data-zoom-image="assets/images/products/zoom/product-2-big.jpg" width="468" height="468" alt="product" />
                                        </div>
                                    }
                                    @if (Model.Image2 == null)
                                    {
                                        <div class="product-item d-none">
                                            <img class="product-single-image" src="~/assets/images/products/zoom/@Model.Image1" data-zoom-image="assets/images/products/zoom/product-2-big.jpg" width="468" height="468" alt="product" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product-item">
                                            <img class="product-single-image" src="~/assets/images/products/zoom/@Model.Image1" data-zoom-image="assets/images/products/zoom/product-2-big.jpg" width="468" height="468" alt="product" />
                                        </div>
                                    }
                                    @if (Model.Image3 == null)
                                    {
                                        <div class="product-item d-none">
                                            <img class="product-single-image" src="~/assets/images/products/zoom/@Model.Image1" data-zoom-image="assets/images/products/zoom/product-2-big.jpg" width="468" height="468" alt="product" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product-item">
                                            <img class="product-single-image" src="~/assets/images/products/zoom/@Model.Image1" data-zoom-image="assets/images/products/zoom/product-2-big.jpg" width="468" height="468" alt="product" />
                                        </div>
                                    }
                                    @if (Model.Image4 == null)
                                    {
                                        <div class="product-item d-none">
                                            <img class="product-single-image" src="~/assets/images/products/zoom/@Model.Image1" data-zoom-image="assets/images/products/zoom/product-2-big.jpg" width="468" height="468" alt="product" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product-item">
                                            <img class="product-single-image" src="~/assets/images/products/zoom/@Model.Image1" data-zoom-image="assets/images/products/zoom/product-2-big.jpg" width="468" height="468" alt="product" />
                                        </div>
                                    }
                                    @if (Model.Image5 == null)
                                    {
                                        <div class="product-item d-none">
                                            <img class="product-single-image" src="~/assets/images/products/zoom/@Model.Image1" data-zoom-image="assets/images/products/zoom/product-2-big.jpg" width="468" height="468" alt="product" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product-item">
                                            <img class="product-single-image" src="~/assets/images/products/zoom/@Model.Image1" data-zoom-image="assets/images/products/zoom/product-2-big.jpg" width="468" height="468" alt="product" />
                                        </div>
                                    }
                                </div>
                                <!-- End .product-single-carousel -->
                                <span class="prod-full-screen">
									<i class="icon-plus"></i>
								</span>
                            </div>

                            <div class="prod-thumbnail owl-dots">
                                <div class="owl-dot">
                                    <img src="~/assets/images/products/zoom/@Model.MainImage" width="110" height="110" alt="product-thumbnail-0" />
                                </div>
                                @if (Model.Image1 == null)
                                {
                                    <div class="owl-dot d-none">
                                        <img src="~/assets/images/products/zoom/@Model.Image1" width="110" height="110" />
                                    </div>
                                }else{
                                    <div class="owl-dot">
                                        <img src="~/assets/images/products/zoom/@Model.Image1" width="110" height="110" />
                                    </div>
                                }
                                @if (Model.Image2 == null)
                                {
                                    <div class="owl-dot d-none">
                                        <img src="~/assets/images/products/zoom/@Model.Image1" width="110" height="110" />
                                    </div>
                                }
                                else
                                {
                                    <div class="owl-dot">
                                        <img src="~/assets/images/products/zoom/@Model.Image1" width="110" height="110" />
                                    </div>
                                }
                                @if (Model.Image3 == null)
                                {
                                    <div class="owl-dot d-none">
                                        <img src="~/assets/images/products/zoom/@Model.Image1" width="110" height="110" />
                                    </div>
                                }
                                else
                                {
                                    <div class="owl-dot">
                                        <img src="~/assets/images/products/zoom/@Model.Image1" width="110" height="110" />
                                    </div>
                                }
                                @if (Model.Image4 == null)
                                {
                                    <div class="owl-dot d-none">
                                        <img src="~/assets/images/products/zoom/@Model.Image1" width="110" height="110" />
                                    </div>
                                }
                                else
                                {
                                    <div class="owl-dot">
                                        <img src="~/assets/images/products/zoom/@Model.Image1" width="110" height="110" />
                                    </div>
                                }
                                @if (Model.Image5 == null)
                                {
                                    <div class="owl-dot d-none">
                                        <img src="~/assets/images/products/zoom/@Model.Image1" width="110" height="110" />
                                    </div>
                                }
                                else
                                {
                                    <div class="owl-dot">
                                        <img src="~/assets/images/products/zoom/@Model.Image1" width="110" height="110" />
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="col-lg-7 col-md-6 product-single-details">
                    <h1 class="product-title">@Model.Title</h1>

                            <hr class="short-divider">

                            <div class="price-box">
                                
                                <span class="new-price">@Model.Price AZN</span>
                            </div>

                            <div class="product-desc">
                                <p>
                            @Model.Information
                                </p>
                            </div>

                            <ul class="single-info-list">

                                <li>
                                    SKU: <strong>654613612</strong>
                                </li>

                                <li>
                                    CATEGORY: <strong><a href="#" class="product-category">SHOES</a></strong>
                                </li>

                                <li>
                                    TAGs: <strong><a href="#" class="product-category">CLOTHES</a></strong>,
                                    <strong><a href="#" class="product-category">SWEATER</a></strong>
                                </li>
                            </ul>

                            <div class="product-action">
                                <div class="product-single-qty">
                                    <input class="horizontal-quantity form-control" type="text">
                                </div>

                                <a href="javascript:;" class="btn btn-dark add-cart mr-2" title="Add to Cart">Add to
									Cart</a>

                                <a href="cart.html" class="btn btn-gray view-cart d-none">View cart</a>
                            </div>
                            <!-- End .product-action -->

                            <hr class="divider mb-0 mt-0">

                            <div class="product-single-share mb-3">
                                <label class="sr-only">Share:</label>

                                <div class="social-icons mr-2">
                                    <a href="#" class="social-icon social-facebook icon-facebook" target="_blank" title="Facebook"></a>
                                    <a href="#" class="social-icon social-twitter icon-twitter" target="_blank" title="Twitter"></a>
                                    <a href="#" class="social-icon social-linkedin fab fa-linkedin-in" target="_blank" title="Linkedin"></a>
                                    <a href="#" class="social-icon social-gplus fab fa-google-plus-g" target="_blank" title="Google +"></a>
                                    <a href="#" class="social-icon social-mail icon-mail-alt" target="_blank" title="Mail"></a>
                                </div>
                                <!-- End .social-icons -->

                                <a href="wishlist.html" class="btn-icon-wish add-wishlist" title="Add to Wishlist"><i
										class="icon-wishlist-2"></i><span>Add to
										Wishlist</span></a>
                            </div>
                            <!-- End .product single-share -->
                        </div>
                        <!-- End .product-single-details -->
                    </div>
                    <!-- End .row -->
                </div>
               
            </div>
            <!-- End .container -->
        </main>